<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Travel Planner API Documentation</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <style>
      #swagger-ui {
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <h1 class="my-5">Travel Planner API Documentation</h1>

      <div class="row">
        <div class="col-md-12 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">API Endpoints</h5>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <h6 class="my-0">GET /api/destinations</h6>
                  <small class="text-muted"
                    >Returns a list of all destinations.</small
                  >
                </li>
                <li class="list-group-item">
                  <h6 class="my-0">GET /api/destinations/:name</h6>
                  <small class="text-muted"
                    >Returns a single destination by Name.</small
                  >
                </li>
                <!-- <li class="list-group-item">
                  <h6 class="my-0">POST /api/destinations</h6>
                  <small class="text-muted">Creates a new destination.</small>
                </li>
                <li class="list-group-item">
                  <h6 class="my-0">PUT /api/destinations/:id</h6>
                  <small class="text-muted"
                    >Updates an existing destination by ID.</small
                  >
                </li>
                <li class="list-group-item">
                  <h6 class="my-0">DELETE /api/destinations/:id</h6>
                  <small class="text-muted">Deletes a destination by ID.</small>
                </li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
